<header>
  <div class="menu">
    <ul>
      <h2> {{ site.data.settings.header_title | default: ">> LCBR" }}</h2>
      
      {%- assign menu_pages = site.pages | where: "show_in_menu", true | sort: "menu_order" -%}
      {%- for my_page in menu_pages -%}
      {%- if my_page.title -%}
      <li>
        <a href="{{ my_page.url | relative_url }}" {% if page.url==my_page.url %} aria-current="page" {% endif %}>{{
          my_page.title | escape }}</a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>